*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

var{
    --colorPrimario:#004C99;
    --ColorSecundario: #6699CC;
    --ColorFondo: #FFFFFF;
    --Color: #333333;
}

/*HEADER*/

body{
    background-color: #333333;
}

.header{
    margin: 0 auto;
    padding-top: 1rem ;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.logo__header{
    width: 5rem;
    border-radius: 50%;
}

.navbar__header{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: #fff;
}

.li__header{
    color: var(--Color);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bolder;

}

.li__header:hover{
    transform: scale(1.2);
    position: relative;
    transition: 1.2s;
    background-color: #000;
    padding: 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
}

.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 45px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 0.8rem;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn26 {
    background-image: linear-gradient(
    to right,
    #000,
    #000,
    #000,
    #000
    );
    box-shadow: 0 4px 15px 0 #6699CC;
}

/*INICIO*/

.lema__{
    margin-bottom: 2rem;
}

.lema{
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding-top: 10rem;
}

.texto__lema{
    text-align: center;
    color: #fff;
    margin-top: 5rem;
    font-size: 7.1em;
}

.img__lema{
    height: 30rem;
}

/*NOSOTROS*/

.nosotros__descripcion{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    gap: 2rem;
    margin-bottom: 3rem;
}

.nosotros__soy{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    color: #fff;
}

.soy{
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

.valores{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    gap: 2rem;
    margin-bottom: 3rem;
}

.nosotros__valores{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    color: #fff;
}

.valores__nosotros{
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}


/*IMC*/

.imc-box{
    background-color: #599af0;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    border-radius: 3rem;
    margin-top: 1rem;
}

.parrafo-imc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

li{
    list-style-type: none;
    padding-top: 1rem;
}

.name-box{
    font-size: 1.2rem;
    font-weight: bolder;
    list-style-type: none;
    text-transform: uppercase;
}

.peso-box{
    font-size: 1.2rem;
    font-weight: bolder;
    list-style-type: none;
    text-transform: uppercase;
}

.altura-box{
    font-size: 1.2rem;
    font-weight: bolder;
    list-style-type: none;
    text-transform: uppercase;
}

input{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;

}

input::placeholder{
    font-weight: bolder;
    font-style:oblique;
    padding-left: 0.5rem;
}

#calcular-button{
    margin-top: 1rem;
    width: 7rem;
    height: 2rem;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    background-color: #f17575;
    border-radius: 1rem;
    
}


/*HR*/

hr{
    max-width: 95%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
} 

body div{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 2rem;
}

.box-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
    gap: 10px;
    background-color: #6699CC;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 2rem;
}

.box-container img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 2rem;
}

.box-container-body{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-items: center;
}

.box-container h2{
    color: red;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2rem;
    width: 100%;
    background-color: #fff;
}

.box-container p{
    font-size: 30px;
    font-weight: bolder;
}

.comprar-boton{
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5rem;
    background-color: #ee6767;
    color: white;
    border-bottom: #ee6767;
}

.boton:hover{
    transform: scale(1.1);
}